server:
  port: 8093

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/payment_db?useSSL=false&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

application:
  config:
    customer-url: http://localhost:8090/customer
    product-url: http://localhost:8091/api/v1/products
eureka:
  instance:
    hostname: localhost
    prefer-ip-address: true
management:
  tracing:
    sampling:
      probability: 1.0